html,
body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background: #eceff1;
	color: #263238;
}
#container {
	width: 1024px;
	margin: 0 auto;
}
#chart,
#status {
	float: left;
}
#chart {
	width: 1000px;
}
#status {
	width: 400px;
	height: 250x;
}
#status p {
	margin-top: 8%;
	text-align: center;
	font-size: 1.4em;
	/* display: inline; */
}
.row {
	display: flex;
}
.column1 {
	/* flex: 1000px; */
	height: 250px;
}
.column2 {
	flex: 30%;
	/* height: 100px; */
	padding: 25px;
}
canvas {
	border: 1px solid #b0bec5;
	margin: 5px 0.5px 0.5px 10px;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
		rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
